<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.WandelApp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="WandelApp.Android">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBpfuAB480tj9VEeOBq7gvHZ_MBDEQrHMo" />
	</application>
	<uses-permissions android:name="android.permission.INTERNET" />
	<uses-permissions android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permissions android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permissions android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
</manifest>